/**
  * Page: Home
  *  
  * @description
  * -
  */


.home-hero {
  @include stack(md);

  header {
    color: var(--light);
  }

  .img-wrapper {
    max-height: 80vh;
    overflow: hidden;
  }

  .img-wrapper img {
    width: 100vw;
  }

  li a::after {
    background-color: var(--light);
  }

  li .link-contact {
    color: var(--dark);
    background-color: var(--light);
  }

  li .link-contact:hover {
    color: var(--light);
  }
}

.homepage-content {
  @include stack(sm);
}

.services {
  @include stack(md);
}

.services h2 {
  grid-column: span 4;
}
