/**
  * Page: Home
  *  
  * @description
  * -
  */


.home-hero {
  @include stack(md);

  header {
    color: var(--light);
  }

  .img-wrapper {
    max-height: 80vh;
    overflow: hidden;
  }

  .img-scrim {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: var(--accent);
    opacity: .45;
    z-index: 100;
    box-shadow: 0px 20px 20px 0px rgba(44,17,142,1);
  }

  .img-wrapper img {
    width: 100vw;
  }

  li a::after {
    background-color: var(--light);
  }

  li .link-contact {
    color: var(--dark);
    background-color: var(--light);
  }

  li .link-contact:hover {
    color: var(--light);
  }
}

.homepage-content {
  @include stack(sm);
}

.services {
  @include stack(md);
}

.services h2 {
  grid-column: span 4;
}
