<div class='contact' id='contact'>
	<div class='layout-wrapper'>

		<h2>Contact</h2>



		<form
		  action="https://formspree.io/f/movavvbn"
		  method="POST"
		  id="form-contact"
		>

		  

			<div class='checks'>
				<p>I&rsquo;m interested in:</p>
				<label for="sff"><input type="checkbox" id="sff" name="service" value="Short Fiction Coaching"> Short Fiction Coaching</label><br>
				<label for="br"><input type="checkbox" id="br" name="service" value="Beta Reading"> Beta Reading</label><br>
				<label for="me"><input type="checkbox" id="me" name="service" value="Manuscript Evaluation"> Manuscript Evaluation</label><br>
				<label for="de"><input type="checkbox" id="de" name="service" value="Developmental Edit"> Developmental Editing</label><br>
				<label for="le"><input type="checkbox" id="le" name="service" value="Line Edit"> Line Editing</label><br>
				<label for="other"><input type="checkbox" id="other" name="service" value="Other"> Other/I&rsquo;m not sure</label>
			</div>


			<div class='email'>
				<label>
			    Your email:<br>
			    <input type="email" name="email">
			  </label>

			  <label>
			    Your message:<br>
			    <textarea name="message"></textarea>
			  </label>

			  <button class="g-recaptcha" data-sitekey="6LetWx0qAAAAAPc5zL3otVzUPgPMdCCIrUjyOA79"
            data-callback='onSubmit' data-action='submit'>Send</button>
			</div>
		  
		  
		</form>


	</div>
</div>
