<footer>
	<div class='layout-wrapper'>

		<ul class='logos'>
			<lh>Involved with</lh>
			<li><img src='{{ site.url }}/assets/images/logos/efa.png'></li>
			<li><img src='{{ site.url }}/assets/images/logos/aces.png'></li>
			<li><img src='{{ site.url }}/assets/images/logos/ce.png'></li>
			<li><img src='{{ site.url }}/assets/images/logos/urma.png'></li>
			<li><img src='{{ site.url }}/assets/images/logos/nasw.png'></li>
		</ul>

		<p class='smallprint'>
			Copyright, legal, etc.
		</p>

		<a class='email' href='mailto:x@x.com'>Email: x@x.com</a>

	</div>

	<script src="{{ site.url }}/assets/js/plugin--dropdown.js"></script>
  	<script src="{{ site.url }}/assets/js/app.js"></script> 
</footer>
