/**
  * Component: Accordion
  *  
  * @description
  * -
  */


.accordion {
  grid-column: span 4;
  @include respond-to(m){
    grid-column: 1 / 4;
  }
  @include stack(md);


   /* Style the buttons that are used to open and close the accordion panel */
  h2 {
    cursor: pointer;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, h2:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  } 


  h2:after {
    content: '\02795'; 
    color: var(--accent) !important;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; 
  }

}



