/**
  * Component: Footer
  *  
  * @description
  * -
  */


footer {
  width: 100vw;
  background-color: var(--dark);
  color: var(--light);
  padding-top: 32px;

  .sv-logo {
    opacity: .65;
    grid-column: 1/-1;
    max-width: 150px;
    @include stack(md);
    @include respond-to(m){
      grid-column: 1/2;
      @include stack(sm);
    }
  }


  .logos {
    list-style: none;
    grid-column: 1/-1;
    @include stack(lg);
    @include respond-to(m){
      grid-column: 2/-1;
    }
  }

  .logos lh {
    display: block;
    opacity: .65;
    @include typestyle($sans-xs-reg);
    @include stack(xxs);
  }

  .logos li {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 32px;
    @include stack(xs);
  }

  .logos li:nth-child(5) {
    clear: left;
    @include respond-to(m){
      clear: none;
    }
  }

  .logos img {
    max-width: 200px;
    max-height: 50px;
    opacity: .65;
    mix-blend-mode: lighten;
  }

  .smallprint {
    grid-row: 3;
    @include respond-to(m){
      grid-column: 1/2;
    }
  }

  .email {
    width: fit-content;
    grid-row: 4;
    @include stack(xxs);
    &::after{
      background: white;
    }
    grid-column: 1/-1;
    @include respond-to(m){
      grid-row: 3;
      grid-column: 2/-1;
    }
  }

  .email, .smallprint {
    opacity: .65;
    @include typestyle($sans-xs-reg);
  }

}



