/**
  * Component: Footer
  *  
  * @description
  * -
  */


footer {
  width: 100vw;
  background-color: #1c1c1c;
  color: white;
  padding-top: 32px;

  .logos {
    list-style: none;
    grid-column: 1/-1;
    @include stack(lg);
    @include respond-to(s){
      grid-column: 1/-1;
    }
  }

  .logos lh {
    display: block;
    opacity: .65;
    @include typestyle($sans-xs-reg);
    @include stack(xxs);
  }

  .logos li {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-right: 32px;
    @include stack(xs);
  }

  .logos li:nth-child(5) {
    clear: left;
    @include respond-to(m){
      clear: none;
    }
  }

  .logos img {
    max-width: 200px;
    max-height: 50px;
    opacity: .65;
    mix-blend-mode: lighten;
  }

  .smallprint {
    grid-row: 3;
    @include respond-to(s){
      grid-row: 2;
    }
  }

  .email {
    width: fit-content;
    grid-row: 2;
    @include stack(xxs);
    &::after{
      background: white;
    }
  }

  .email, .smallprint {
    grid-column: 1/-1;
    opacity: .65;
    @include typestyle($sans-xs-reg);
    @include respond-to(s){
      grid-column: span 2;
    }
  }

}



