/**
  * Color Configuration
  *
  * @description
  * Master set of color vars
  */





// Colors
// ----------------------------------------------------------------------------


:root {
  --light: #faf9ff;
  --dark: #1c1c1c;
  --accent: #2c118e;
}



